abstract class Config {
  static const String SOCKET_HOST = '0.0.0.0';
  static const String SOCKET_PORT = '5555';
  static const String SOCKET_TOKEN = '043a33f74f72fcae29bbf500deded817';
  static const String SOCKET_LOG_PATH = '/tmp/log/connectars';

  static const String API_BASE = 'http://127.0.0.1:8080/socket/v1';
  static const String API_ROUTE_AUTH = '/user/init';
  static const String API_ROUTE_AUTH_HEADER = 'x-api-token';
  static const String API_ROUTE_MESSAGE = '/message/process';
  static const String API_ROUTE_MESSAGE_PARAMETER = 'message';
}
